/* Footer ------------------------------------------------------------------- */

.footer-wrapper {

  text-shadow: #111112 0px 0px 2px, #111112 1px 1px 2px, #111112 2px 2px 3px,
    #111112 2px 2px 4px, #111112 2px 2px 5px, #111112 2px 2px 6px, #111112 -1px -1px 2px,
    #111112 -2px -2px 3px, #111112 -2px -2px 4px;

  @include media-breakpoint-up(lg) {
    background-image: url(../img/backgrounds/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 5rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: 600;
    color: $gray-400;
    margin-bottom: 1.25rem;
  }

  .footer-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      flex: 0 0 60%;
      text-align: center;
    }
  }

  .footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding: 0.5rem 0;
    color: $gray-300;

    &:hover {
      text-decoration: underline;
      color: $white;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      text-align: center;
    }
  }

  .footer-external-link {
    &::after {
      content: "\00a0";
      background-image: url(../img/icons/footer-external-link.svg);
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 16px; // changed from 15px
      padding: 0 4px 0 8px;
      width: 16px; // changed from 14px
      height: 16px; // added this line
      background-position: center; // changed this line
      transition: transform 100ms ease-in-out; // changed from background-position
      // Note: the background position is based on the padding, so it might
      // need adjustments for elements with more padding to make it line up
      // with the text. I thought background-origin: content-box might fix this
      // but it doesn't seem to.
    }

    &:hover {
      color: $white;
    }

    // &:hover::after {
    //   transform: translate(3px, -3px); // Translate the arrow up and to the right
    // }

    // .fa-external-link {
    //   display: none;
    // }
  }

  .absolute-bottom-footer {
    text-shadow: none;
    margin: 12px 0px 0px;

    @include media-breakpoint-down(md) {
      .language-menu {
        display: none;
      }

      .copyright-license {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 1rem;
      }
    }
  }
}
